# 操作系統生成的文件
.DS_Store
Thumbs.db

# 編輯器和IDE文件夾
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 臨時文件
*.log
*.tmp
*.swp

# 個人配置文件
.env
.env.local

# node.js 相關
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log* 